<section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">

        <div class="row">

         <div class="col-lg-5">
                <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2naC9-9Y2wwxBeWnttC0x4-0d3whB9F7SGwPuLGBr5Gn4ZRZ-jQ'>
          </div>

          <div class="col-lg-5">
            <div class="banner_content">
                <div class="row">
                  <h1 class="text-uppercase">Ваш результат: 4/5</h1>
                </div>
                <a href="http://localhost:4200/category">
                  <button type="button" class="btn btn-success">На главную</button>
                </a>
                </div>
            </div>

 
        </div>  
      </div>
  </div>
</section>