
<mat-toolbar flex color="primary">
  <mat-toolbar-row>
    <button mat-button
      (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
        EasyQuizy
    </span>
      <!-- This fills the remaining space of the current row -->
    <span class="remained-space"></span>

    <!--if user is guest-->
    <div *ngIf="false; else signedInUser">
      <span><a mat-button routerLink="/home">Sign in</a></span>
      <span><a mat-button routerLink="/category">Sign up</a></span>
    </div>

    <ng-template #signedInUser>
        <span><a mat-button href="#">Account</a></span>
        <span><a mat-button href="#">Log out</a></span>
    </ng-template>
  </mat-toolbar-row>  
</mat-toolbar>

<mat-sidenav-container id="container">

    <mat-sidenav #sidenav mode='over'>
      <mat-list class="list-nav">
          <app-sidenav></app-sidenav>
      </mat-list>
    </mat-sidenav>

    <div class="site">
      <main class="content">
          <router-outlet></router-outlet>
      </main>
      <app-footer fxFlexOffset="auto"></app-footer> 
    </div>

     
</mat-sidenav-container>